
.heder{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
body{
    font-family: "Arial", sans-serif;
    margin-left: 22px;
}
.logo {
  width: 65px;
  height: auto; 

}
.head{
    margin: 0;
    font-size:60px;
}
.btc{
    color:rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    border: 1px solid #000000;
    width: auto;
    height: auto;
    margin:10px;
    font-size:40px;

}
.btc.dop{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size:40px;

}
.BTC{
    color:rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    padding: 2px;
    border: 1px solid #000000;
    width: auto;
    margin:10px ;
    height: auto;
    font-size:30px;

}
.BTC.DoP{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size:30px;


}
.foods{
    background: rgb(231, 215, 151);
    border: 1px;
}
.food{
height: 0px;
margin: 0px;
overflow: hidden;
display: flex;
font-size:30px;

}
.food.DOP{
    transition: 1s;
    cursor: pointer;
    border: 1px solid #000000;
    background:rgb(231, 215, 151); 
    height: auto;
    margin: auto;
    padding: 7px;
    font-size:30px;
}
.food.DOp{
    background: black;
    color:rgb(255, 255, 255);
}
p{
    margin: 20px;
    background-color: rgb(239, 239, 239);
    padding: 20px;
    font-size:30px;
}



